.Horizontal{
    display: flex;
    gap: 30px;
    list-style: none;
    height: 30px;
    font-size: 17px;
    padding: 30px 10px;
   
}
img{
    height: 40px;
}

.Seclist{
    display: flex;
   gap: 30px;
   margin-left: 300px;
}
